<h1> Investments </h1>
<% if current_user %>
<h2><%= link_to 'Make an investment', '/investments/new' %></h2>
<% end %>
<table>
  <tr>
    <th>User</th>
    <th>Project</th>
    <th>Amount</th>
  </tr>
  <% @investments.each do |x| %>
  <tr>
    <% if x.user_id != nil %>
      <% user = User.find(x.user_id) %>
    <td>  <%= user.first_name+" "+ user.last_name%> </td>
    <% else %>
    <td> Unknown_user </td>
    <% end %>
    <td>  <%= Project.find(x.project_id).name %> </td>
    <td>  <%= x.amount %> </td>
  <% end %>
</table>

<br>
<br>
