$("#comment_content").val("");
var $container = $("#comments-list");
console.log($container.length);
if ($container.length === 0){
    console.log("23");
    $("#no-comments").remove();
    $("#section-comments").append("<div class='comments-container'></div>");
    $(".comments-container").append("<ul id='comments-list' class='comments-list'></ul>")
    $container = $("#comments-list");

}
$container.append( "<li> <%= escape_javascript(render partial:'projects/comment', :object =>{:comment => @comment, :user_id =>2})%> </li> " );
