<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Finally the project <%=@project.name%> had reached it's goal. Thanks <%=@investor.first_name%> for supporting</h1>
    <p>Kind regards</p>
    <p>Quickstarter UC team.</p>
  </body>
</html>
