<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hello <%= @user.first_name%>, welcome to Quick Starter UC </h1>
    <p> We are so glad to count with you in our community. We invite you to see available projects and donate in which you consider they are the best. Also, you can create your own projects!.</p>
    <p>Kind regards</p>
    <p>Quickstarter UC team.</p>
  </body>
</html>