<% if flash[:success] %>
<p> <%= flash[:success] %> <p>
<% end %>

<h2> Users </h2>
<h4> <%= link_to 'Create user', users_new_path %>
<h5> First name | Last name </h5>
<% @users.each do |x| %>
<%= link_to x.first_name+ ' ' + x.last_name, x %>
<br>
<% end %>
