<% project[:projects].each do |project| %>
<a href="/projects/<%=project.id%>" class="project-square">
<img src="/images/placeholder-project.jpg">
<h3 id="project-name"> <%= project.name %></h3>
<p id="project-owner">Fundador: <%= User.find(project.user_id).first_name %></p>
<p id="project-goal">Meta: <%= project.goal %></p>
</a>
<% end %>
