<h1 id="project-title" class="project-header"> Projects</h1>

<div class="projects-index">
  <%= render partial: 'project', :object =>{:projects => @projects} %>
</div>


<div class="digg_pagination">
    <%= paginate  @projects %>
</div>

