<h2> Projects</h2>
<h3> <%= link_to 'Create project', projects_new_path %> </h3>



<table >
  <tr>
    <th>Project name</th>
    <th>Owner</th>
    <th>Goal</th>

  </tr>
<% @projects.each do |project| %>
  <% @user = User.find(project.user_id) %>
  <td> <%=  link_to project.name , project %></td>
  <td> <%= link_to @user.first_name + ' ' + @user.last_name , @user %></td>
  <td> <%= project.goal %></td>
</tr>

<% end %>
</table>
