<h2 id="project-title"> Projects</h2>
<% if current_user %>
<a id="new-project" href="/projects/new"> Publicar proyecto</a>
<% end %>

<div class="projects-index">
  <%= render partial: 'project', :object =>{:projects => @projects} %>
</div>
