/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 #Navbar {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: scroll;
   border: 1px solid #e7e7e7;
   background-color: #f3f3f3;
 }

 .NavbarElement {
   float: left;
 }

 .NavbarElement a {
     display: block;
     color: black;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }
 .NavbarElement a:hover {
     background-color: #808080;
 }


 .form_for {
   margin-left:auto;
   margin-right:auto;
   width:50%;
 }

 .input_form_for {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     box-sizing: border-box;
     border: 2px solid grey;
     border-radius: 4px;
 }

 .submit_form_for {
   width: 100%;
     background-color: grey;
     border: none;
     color: black;
     padding: 16px 32px;
     text-decoration: none;
     margin: 4px 2px;
     cursor: pointer;
 }
