// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#token{
  height: 100px;
  width: 100px;
}
.edit-categories{
  text-align: center;

}
.cat-table{
  margin-left: auto;
  margin-right: auto;
  td{
    text-align: left;
  }
}
#cat-submit{
  width: 200px;
}


#edit-user-header{
  margin-left: 45%;

}
.edit-user{
  margin-left: 15%;
  margin-right: 15%;
}
.user-header {
  text-align: center;
  padding: 30px;
}

.profile-projects{
  text-align: center;
}
#profile {
  padding: 10px;
  margin-top: 45px;
  padding-right: 40px;

  .profile-image{
      display: inline-block;
  }
  .profile-information{
      display: inline-block;
      margin-left: 5%;
  }
}

.user-action{
    font-size: 15px;
    top: 5px;
    right: 20px;
    border: 3px solid;
    padding: 6px;
    text-align: center;
    border-color: #4CAF50;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
}
.user-action a{
  text-decoration: none;
}
#user-edit{
  border-color: #4CAF50;
}
#user-edit a{
  color:#4CAF50;
}

#user-delete{
  border-color: red;
}
#user-delete a{
  color:red;
}

.table{
	.center{
		margin-left:auto;
    margin-right:auto;
	}

}
table.user-table {
	width:65%;
	margin-left:20%;
	margin-right:15%;

}

th.user-table-header, td.user-table-data {
    text-align: left;
    padding: 8px;
}

tr.user-table-row:nth-child(even){background-color: #f2f2f2}

th.user-table-header {
    background-color: #03658c;
    color: white;
}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-top: 10px;
    list-style:none;
}

.tablinks{
  width: 50%;

}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

div.tab button:hover {
    background-color: #ddd;
}

div.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


.new-user-header{
    text-align:center;
}
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-top: 10px;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.disp{
  display: block;
}